.pop-up__exit-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    transform: rotate(45deg);
    position: absolute;
    top: -30px;
    right: -30px;
    outline: none;
}

.pop-up__exit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width:767px) {
    .pop-up__exit-button {
        right: 0;
    }
}